@use "tailwindcss";
@use "./buttons.scss";
@use "./cards.scss";
@use "./fonts.scss";
@use "./type.scss";
@use "./input.scss";
@use "./animations.scss";
@use "./prose.scss";
@use "./swiper.scss";

@config "../../tailwind.config.ts";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

body {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body,
main,
footer {
  background-image: url('/images/bg-mask.png');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

.bg-linear-chooseus {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
}

.bg-linear-mobile {
  background: linear-gradient(180deg, rgba(20, 42, 104, 0) 7%, #142A68 28%);
}

.bg-linear-branch {
  background: linear-gradient(180deg, rgba(13, 45, 137, 0) 0%, rgba(13, 45, 137, 0.822115) 51.92%, #09246E 100%);
}